*{
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 8px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    /* background-color: #f2f2f2; */
    padding: 5px 20px 15px 20px;
    border: 1px solid black;
    border-radius: 8px;
}
input[type="email"],
input[type="password"],
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
}
input[type="submit"]{
    background-color: rgb(106, 188, 250);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    width: 180px;
    height: 40px;
}

input[type="submit"]:hover {
    background-color:rgb(45, 164, 255);
    width: 200px;
    height: 50px;
}
h5{
    color: rgb(110, 173, 255);
}
h5:hover{
    color: rgba(66, 107, 255, 0.834);
}
h4{
    color: gray;
}
h4:hover{
    color: honeydew;
}
h4{
    cursor: pointer;
}
.Foot{
    box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.25);
}
.icon{
    size: 50px;
}
.main{
    padding: 200px;
    /* opacity: 0.5; */
    z-index: 10;
    padding-left: 300px;
    padding-right: 300px;
    align-items: center;
}

img {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    /* Specify the background image to be used */
    /* background-image: url(../SGP/ss.png); */
    /* background-size: cover; */
    /* Specify the background image */
    z-index: -1;
    opacity: 0.6;
}
.h5{
    display: flex;
}
.h51{
    display: flex;
    flex-direction: row;
    margin-right: 192px;
}
.h52{
    display: flex;
    flex-direction: row;
    margin-left: 230px;
}