.header{
    font-size:43px;
    background-color: black;
    color: white;
    margin-bottom: 13px;
    text-align: center;
    border-radius: 17px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.bus{
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 24px;
    
}
.main img {
    width: 1410px;
    height: 500px;
    /* opacity: 0.7; */
}
.button{
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #008CBA;
    background-color: white;
    color: black;
    border-radius: 12px;
    font-size: 35px;
    padding: 16px 32px;
    transition-duration: 0.4s;

}

.button:hover{
    border-radius: 35px;
    background-color: #008CBA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

